// style.scss
@import 'reset';

// 변수
$text-color-dark: #000;
$text-color-mid: #444;
$main-color: #ED6C30;

body {
    text-align: center;
    font-size: 14px;
}

p {
    line-height: 24px;
    color: $text-color-mid;
}

section h2 {
    font-size: 18px;
}

#title {
    // background: pink;
    height: 100vh;
    header {
        height: 20vh;
        display: flex;
        justify-content: center;
        align-items: center;
        .date {
            font-size: 24px;
            font-weight: 800;
            margin-bottom: 8px;
        }   
    }
    .photo {
        height: 52vh;
        background: #ccc;
        img {
            height: 100%;
            object-fit: cover;
        }
    }
    .bottom {
        height: 28vh;
        display: flex;
        justify-content: center;
        align-items: center;
        h1 { 
            font-size: 18px;
            margin-bottom: 15px;
            font-weight: 800;
            span { font-weight: 400;}
        }
    }
}


#intro {
    border-top: 1px solid #ccc;
    padding-top: 50px;
    padding-bottom: 100px;
    p {
        margin-top: 30px;
        b { color: $main-color; }
    }
}

#invitation {
    padding-bottom: 65px;
    text-align: center;
    b { color: $main-color; }
    .invit-text {
        margin-bottom: 50px;
    }
    img {
        width: 100%;
        height: 190px;
        object-fit: cover;
        margin-bottom: 20px;
    }
    ul {
        li {
            margin-bottom: 5px;
        }
        small { color: #666; }
    }
}

.btn {
    display: inline-block;
    border: 1px solid $text-color-mid;
    width: 160px;
    padding: 4px 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    span { margin-left: 10px;}
    margin: 0 auto;
    margin-top: 26px;
    border-radius: 50px;
    color: $text-color-mid;
}